.announce{
  background-color: rgba(4, 26, 44, 0.8);
  color: white;
  padding: 5px 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
.pop-up{
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(4, 26, 44, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.popup-title{
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(4, 26, 44, 0.8);
}
.popup-content{
  padding: 20px;
  background-color: #D9D9D9;
  color: black;
  margin-bottom: 10px;
}

.disappear input{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.create-feed{
  color: #626262;
  background-color: #D9D9D9;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.announce-content{
  height: 900px;
  overflow-y: scroll; 
}
.announce-content::-webkit-scrollbar{
  width: 5px;
}
.announce-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.one-post{

}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(4, 26, 44, 0.8);
  background-color: white;
  color: rgba(4, 26, 44, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.info img{
  border-radius: 50%;
}

.comment{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  background-color: white;
  color: rgba(4, 26, 44, 0.8);
  border-bottom: 1px dashed black;
  padding: 0px 20px;
}

.comment a{
  font-weight: bolder;
  background-color: white;
  color: rgba(4, 26, 44, 0.8);
}

.post-image{
  overflow-x: auto;
  white-space: nowrap;
}

.post-image::-webkit-scrollbar{
  height: 8px;
}

.post-image::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.feed-catalog{
  display: flex;
  color: black;
  border-bottom: 7px solid #343434;
  padding: 5px 0px;
}

.box-type{
  display: flex;
  margin-right: 30px;
}

.box-type input{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: rgba(4, 26, 44, 0.1);
  height: 20px;
}

.underline-input {
  border: none;
  /* border-bottom: 2px solid #333; Just a bottom border */
  outline: none;
  padding: 8px 4px;
  font-size: 16px;
  background: transparent;
  width: 100%;
}

.title-feed{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #A0A0A0;
  padding: 7px 0px;
}

.upload-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(4, 26, 44, 0.05);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: black;
  padding: 15%;
  cursor: pointer;
}

.img-file{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 20px;
  ;
}

.done-button{
  border-radius: 5px;
  background-color: rgba(4, 26, 44, 0.8);
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  margin-right: 10px;
}

.cancel-button{
  border-radius: 5px;
  background-color: #737373;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  margin-right: 10px;
}
